---
layout: default
---

<div class="outer-container">
  <div class="main-container post-container">
    <article class="post">
      <!-- Blog Post -->

      <time class="post-date"
        >Posted on {{ page.date | date: "%b %d, %Y" }}</time
      >

      <!-- Title -->
      <h2 class="post-title-in">{{ page.title }}</h2>

      <!-- <hr /> -->

      <!-- Post Content -->
      <!-- {% if page.lead %}
      <p class="lead">{{ page.lead }}</p>
      {% endif %}  -->

      {{ page.content }}

      <!-- <hr />

      {% if page.previous %}
      <span class="previous-link">
        <a rel="prev" href="{{ page.previous.url }}">Previous article</a>
      </span>
      {% endif %} {% if page.next %}
      <span class="next-link pull-right">
        <a rel="next" href="{{ page.next.url }}">Next article</a>
      </span>
      {% endif %}

      <hr /> -->
    </article>

    <aside>
      {% for category_name in page.categories limit:1 %}
      <h3 class="eop">You May Also Like</h3>

      <ul class="related">
        {% for post in site.categories[category_name] limit:2 %}
        <li class="related-post">
          <h3 class="post-title">
            <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
          </h3>
          <time class="post-date">{{ post.date | date: "%b %d, %Y" }}</time>
          <p class="post-excerpt">
            {{ post.excerpt | strip_html | truncatewords: 50 }}
          </p>
        </li>
        {% endfor %}
      </ul>
      {% endfor %}
    </aside>
  </div>
</div>
